@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}




.bienvenida{
    height: 616px;
    width:100%;
    background: url(./img/image\ 4.png);
    background-size: cover;
    display: inherit;
}

.bienvenida__header__img{
    width: 122px;
    height: 122px;
}
@media (min-width: 729px){
    .bienvenida__header__img{
        width: 200px;
        height: 200px;
    }
}
.bienvenida__header{
    display: flex;
    justify-content: space-between;
    

}
@media (min-width: 729px){
    .bienvenida__header{
        background-color: linear-gradient(107.17deg, #408195 29.35%, rgba(0, 210, 135, 0.8) 78.73%);
    }
}
.bienvenida__header--contacto{
    background-color: #2C2C2C;;
}
.bienvenida__header__menu{
    margin-top: 45px;
}
@media (min-width: 729px){
    .bienvenida__header__menu{
        display: none;
    }
}
.header__options-teamplate{
    display: none;
}
@media (min-width: 729px){
    .header__options-teamplate{
        display: grid;
        font-family: "Poppins";
        font-size: 24px;
        color: #FFFFFF;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 5%;
        padding-right: 7%;
        gap: 10%;
        max-width: 100%;
    }
}
.bienvenida__texto__conteiner{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bienvenida__texto, .bienvenida__texto-subtitulo {
    font-family: "Montserrat";
    font-size: 48px;
    color: white;
    margin: 0px;
}
@media (min-width: 729px){
    .bienvenida__texto, .bienvenida__texto-subtitulo{
        color: black;
    }


}
.bienvenida__texto-subtitulo{
    font-size: 32px;
}




.presentacion{
    background-color: #141414;
    width: 100%;
    height: 368px;
}
@media (min-width: 729px){
    .presentacion{
        height: 538px;
        background-color:white;
    }
}
.presentacion__conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 30px;    
}
@media (min-width: 729px){
    .presentacion__conteiner{
        display: flex;
        flex-direction: row-reverse;
    }
}
@media (min-width: 729px){
    .presentacion__title{
        text-align: left;
        margin-top: 120px;
        font-size: 32px;
    }
}

.presentacion__texto{
    font-family: "Poppins";
    color: white;
    font-size: 16px;
}
@media (min-width: 729px){
    .presentacion__texto{
        color: black
    }
}
.presentacion__img{
    width: 380px;
    height: 420px;
    display: none;
}
@media (min-width: 729px){
    .presentacion__img{
        display: inherit;
    }
}





.mis-servicios{
    width: 100%;
    height: 1700px;
    background-color:silver;
}
@media (min-width: 729px){
    .mis-servicios{
        height: 680px;
    }
}
.mis-servicios__conteiner{
    display: grid;
    grid-column: 1fr 1fr 1fr;
    gap: 2%;
    margin-top: 50px;
    width: 100%;
    padding: 0 10%;
}
@media (min-width: 729px){
    .mis-servicios__conteiner{
        padding: 0 2%;
    }
}
.mis-servicios__texto{
    color: #2C2C2C;
    text-align: center;
    padding-top: 5px;
}
.mis-servicios__card__img{
    max-width: 200px;
    height: 190px;
    
}
.mis-servicios__card{
    border: solid 2px;
    border-radius: 4px;
    width: 100%;
}
.mis-servicios__card__img__conteiner{
    width: 100%;
    text-align: center;
}
.mis-servicios__titulo{
    font-family: "Montserrat";
    font-size: 32px;
    text-align: center;
}
.mis-servicios__parrafo{
    font-family: "Poppins";
    font-size: 16px;
    text-align: center;
}
.proximamente{
    text-align: center;
    margin-top: 15%;
}
.proximamente__title{
    font-family: "Poppins";
    font-size: 18px;
    color: red;
}
@media (min-width: 729px){
    .servicio__conteiner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}




.contacto{
    height: 660px;
    width: 100%;
    background-color: #141414;
    padding-top: 70px;
}
.form--conteiner{
    padding: 0 20px;
    text-align: center;
}
@media (min-width: 729px){
    .form--conteiner{
        
        justify-content: center;
    }
}
@media(min-width: 729px){
    .form{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        flex-direction: row;
        max-width: 960px;
    }
}
.form__title{
    font-family: "Montserrat";
    font-size: 32px;
    color: #FAFAFA;
    text-align: center;
}
.form__subtitle{
    font-family: "Poppins";
    font-size: 13px;
    color: #FAFAFA;
}
.form__input{
    width: 100%;
    height: 45px;
}
.form__input__textarea{
    height: 144px;
    width: 100%;
}
.form__button{
    width: 100%;
    height: 45px;
    background-color: #2C2C2C;
    margin-top: 50px;
}
.form__button-text{
    font-family: 'Poppins';
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
}





.footer{
    background-color: #2C2C2C;
    width: 100%;
    height: 250px;
}
@media (min-width: 729px){
    .footer{
        text-align: center;
    }
}
.footer__img-conteiner, .footer__img-conteiner--redes{
    display: grid;
    gap: 10%;
    justify-content: center;
}
.footer__img-conteiner--redes{
    display: grid;
    gap:10%; 
}
@media (min-width: 729px){
    .footer__img-conteiner--redes{
       padding: 15px 8px
    }
}
@media (min-width: 729px){
    .footer-conteiner{
        display: flex;
        justify-content: space-between;
        
    }
}







.content{
    background-color: #161616;
    height: 616px;
    width: 100%;
    position: absolute;
    display: none;
}
.cerrar-content{
 text-align: right;
 margin-top: 7%;
 margin-right: 7%;
    
}
.options__text{
    font-family: "Montserrat";
    font-size: 48px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.header__contact{
    background: linear-gradient(107.17deg, #408195 29.35%, rgba(0, 210, 135, 0.8) 78.73%);
}
@media (min-width: 729px){
    .header__contact{
        background: linear-gradient(107.17deg, #408195 29.35%, rgba(0, 210, 135, 0.8) 78.73%);
    }
}