
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.portfolio{
    background-color: #000000;
    height: 2184px;
    width: 100%;
}




.bienvenida__header__img{
    width: 122px;
    height: 122px;
}
.bienvenida__header{
    display: flex;
    justify-content: space-between;
}
.bienvenida__header__menu{
    margin-top: 45px;
}



.portfolio__title{
    font-family: "Montserrat";
    font-size: 48px;
    color: white;
    text-align: center;
}
.mis-servicios__conteiner{
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr;
    gap: 2%;
    margin-top: 103px;
    width: 100%;
    padding: 0 10%;
}
.mis-servicios__texto{
    color: white;
    text-align: center;
    margin-top: 20%;
}
.mis-servicios__card__img{
    width: 100%;
    height: 200px;
}
.mis-servicios__card{
    border: solid 2px;
    border-radius: 4px;
    width: 100%;
}
.mis-servicios__titulo{
    font-family: "Poppins";
    font-size: 16px;
    text-align: center;
    color: white;
}
.mis-servicios__parrafo{
    font-family: "Poppins";
    font-size: 16px;
    text-align: center;
    color: white;
}
.portfolio__url{
    font-family: "Poppins";
    font-size: 24px;
    color: #FC6F50
}
.portfolio__url-conteiner{
    width: 262px;
    height: 33px;
    text-align: center;
}
.estamos-trabajando__img{
    max-width: 200px;
    max-height: 180px;   
}


.footer{
    height: 498px;
    width: 100%;
    background: #2C2C2C;
}